
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Studomat v2</h1>
    <p class="lead">Studomat v2 is grade analysis expert</p>
    <p><a href="@Url.Action("Login", "Home")" class="btn btn-secondary btn-md">Get started &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Getting started</h2>
        <p>
            Studomat v2 gives you ability to add/edit/delete student's grades.
        </p>
        <p><a class="btn btn-default" href="@Url.Action("Login", "Home")">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>Login to start</h2>
        <p>Only logged in users have authority to make changes.</p>
        <p><a class="btn btn-default" href="@Url.Action("Login", "Home")">Login&raquo;</a></p>
    </div>
</div>